#gitignore
/ackermann_to_odom/documentation/html
/ackermann_to_odom/documentation/latex
/virtual_imu/documentation/html
/virtual_imu/documentation/latex
/online_calibration/scripts/results
/online_calibration/scripts/raw_data