<?xml version="1.0"?>
<launch>
 
    <param name="range_img"                     type="str"    value="/ouster/range_image" />
    <param name="mask_Topic"                    type="str"    value="/ground_lines_img" /> 
    <param name="out_Topic"                    type="str"    value="/ground_lines_pc" />    
  

    <node pkg="image2pcl"   type="image2pcl_node" name="image2pcl_node" output="screen"/>

    <!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find ouster_filtering)/rviz/image2pcl.rviz" />-->
 
</launch>
