<?xml version="1.0"?>
<launch>
 
    <param name="pcTopic"                       type="str"    value="/ouster/points" />
    <param name="range_img"                     type="str"    value="/ouster/range_image" />
    <param name="detection_BoundingBoxes"       type="str"    value="/yolov5/detections" />    
    <param name="filtering_method"              type="str"    value="median" />
    <param name="bounding_box_percet_reduction" type="double" value="0.6" />      
    <param name="filtering_desviation"          type="double" value="0.1" />  
  

    <node pkg="ouster_filtering"   type="ouster_filtering_node" name="ouster_filtering_node" output="screen"/>

<node type="rviz" name="rviz" pkg="rviz" args="-d $(find ouster_filtering)/rviz/ouster_filtering.rviz" />
 
</launch>
